# FIT5148 - Distributed Databases and Big Data

# Assignment 1 - Solution Workbook


**Instructions:**
- You will be using Python 3.
- Read the assignment instruction carefully and implement the algorithms in this workbook. 
- You can use the datasets fireData and climateData (provided below) if you are aiming for Credit Task.
- For Distinction and High Distinction tasks, you are required to read the files FireData.csv and ClimateData.CSV provided with the assignment programatically and prepare the data in the correct format so that it can be used in your algorithm. 
- You can introduce new cells as necessary.

**Your details**
- Name: Moon Beyong Kim
- Student ID: 26389126

- Name: Hun Tae Lee
- Student ID: 22568735

Let's get started!

The concepts and definitions used to accomplish this assignment refer to our tutorial activities and a reference textbook below;

- High Peoformance Parallel Database Processing and Grid Databases (Wiley 2008) by Taniar, Leung, Rahayu,, and Goel.

## Import Libraries and Read Files

In [1]:
# Using pandas library for output format use
import pandas as pd 
# Using csv library to get a csv file format
import csv 
# Using Pool library for multi-processcing 
from multiprocessing import Pool
# Read the 'ClimateData.csv file
with open('ClimateData.csv','r') as f:
    reader = csv.reader(f)
    climateData = list(reader)
# Delete the first row of the file
del climateData[0]
# Read the 'FireData.csv file
with open('FireData.csv','r') as f:
    reader = csv.reader(f)
    fireData = list(reader)
# Delete the first row of the file
del fireData[0]

## Task 1: Parallel Search

### Question 1
*** Write an algorithm to search climate data for the records on 15th December 2017. Justify your choice of the data partition technique and search technique you have used. ***
- It is important to know how searches are performed sequentially before performing a parallel search. The serial search algorithm and data partitioning are the basis for parallel search algorithms.
- To find the result of this problem, we first paritioned the climate data to distribute data over a number of processing elements. we use the "Round-robin(RR) data partitioning" as the paritioning method. The RR partitioning method is how each record is sequentially assigned to the processing element. The reason for choosing the RR partitionig method is that the RR partition has the advantage of evenly distributed data. The aim of parallel processing, especially parallel database processing, is to achieve load balancing to reduce the elapsed time of a job, and this data partitioning supports this goal.
- We secondly searched the climate data through the "binary search". To use binary search, the list must already be completely aligned. Binary search starts by comparing the key to the middle entry in a sorted list of elements. If it matches, it returns the index of this element. Otherwise, processing will continue using the lower or upper half of the table (depending on the key value). In essence, only one comparison removes half of the table. We use the binary search because of its advantages. Firstly, binary search is much faster when compared to linear search (which check each element of the array from the first). Linear search takes an average N/2 comparison (Where N is the number of elements in the array) and the worst N comparison. Binary search uses average and worst case log2 (N) comparisons. So for a million elements, the linear search will average 50,000 comparisons, while the binary search will take 20. Secodly it is a fairly simple algorithm. Moreover, the given climate data is sorted list and static lists.
- We finally use a "Parallel Search Exact" as a parallel search algorithm. We use the above binary search function as a location search method. As a local comparison method, we assume that we stop when a match is found for brevity. We use the RR data partitioning we built above with the data partitioning method.

In [2]:
# Print_result_format_for_climate function
def print_result_format_for_climate(data):
    """
    This is function for printing result with proper format
    
    Arguments:
    data -- input result
    
    Return:
    result -- data printing in proper format
    """
    
    print("Key: " + str(data[0][0]))
    print("Station: " + data[0][1][0])
    print("Data: " + data[0][1][1])
    print("Air Temp: " + data[0][1][2] + " Celcius")
    print("Relative Humidity: " + data[0][1][3] + "%")
    print("Wind Speed: "  + data[0][1][4] + " knots")
    print("Max wind Speed: " + data[0][1][5]+ " knots")
    print("MAX: " + data[0][1][6])
    print("MIN: " + data[0][1][7])
    print("Precipitation: " + data[0][1][8])

In [3]:
#### Task 1 - Question 1 ####

# Round-robin data partitioning function
# Need round robin partitioning
def rr_partition_for_climate_by_date(data, n):
    """
    Perform data partitioning on data
    
    Arguments:
    data -- an input dataset which is a list
    n -- the number of processors
    
    Return:
    result -- the partitioned subset of D
    """
    
    result = []
    for i in range(n):
        result.append([])
    
    #Calculate the number of elements to be allocated to each bin
    n_bin = len(data)/n
    
    #For each bin, perform the following:
    for index, element in enumerate(data):
        #Calculate the index of the bin that the current data point will be assigned
        index_bin = (int) (index % n)

        result[index_bin].append(element)
    
    return result

# Binary search function
# Need binary search
def binary_search_for_climate_by_date(data, key):
    """
    Perform binary search on data for the given key
    
    Arguments:
    data -- an input dataset which is a list
    key -- an query record
    
    Return:
    result -- the position of searched record
    """
    
    matched_record = None
    position = -1 #not found position
    
    lower = 0
    middle = 0
    upper = len(data)-1
    
    while (lower <= upper):
        #calculate middle: the half of lower and upper
        middle = int((lower + upper)/2)
        
        if(data[middle][1] > key): # 
            upper = middle-1
        elif(data[middle][1] < key): #
            lower = middle+1
        elif(data[middle][1] == key): #
            matched_record = data[middle]
            position = middle
            break
            
    return position, matched_record

# Parallel searching algorithm for exact match
def parallel_search_exact(data, query, n_processor, m_partition, m_search):
    """
    Perform parallel search for exact match on data for the given key
    for task1 question 1, partitioning is round-robin.
    Arguments:
    data -- an input dataset which is a list
    query -- a query record
    n_processor -- the number of parallel processor
    m_partition -- a data partitining method
    m_search -- a search method
    
    Return:
    results -- the matched record information
    """
    
    results = []
    
    # pool: a pyhon method enabling parallel processing.
    # We need to set the number of processes to n_processsor
    # Which means that the Pool class will allow 'n_processor' processes
    # running at the same time
    pool = Pool(processes=n_processor)
    
    # For round-robin partitioning method
    # Perform data partitioning first
    DD = m_partition(data, n_processor)
    for d in DD: # Perform parallel search on all data prartitions
        result = pool.apply(m_search,[d,query])
        
        # will only append the result found, not not-found
        if(result[0]!=-1):
            results.append(result) 
    
    return results

# Output of using the parallel_search_exact function, round-robin partition, binary_search
ans = parallel_search_exact(climateData, '2017-12-15',10,rr_partition_for_climate_by_date, binary_search_for_climate_by_date)
# Display the result of task1_1
print_result_format_for_climate(ans)

Key: 34
Station: 948702
Data: 2017-12-15
Air Temp: 18 Celcius
Relative Humidity: 52%
Wind Speed: 7.1 knots
Max wind Speed: 14 knots
MAX:    74.5*
MIN: 53.1
Precipitation:  0.00I

### Question 2
*** Write an algorithm to find the latitude, longitude and confidence when the surface temperature (Celcius) was between 65 (Celcius) and 100 (Celcius). Justify your choice of the data partition thechnique and search technique you have used. ***
- It is important to know how searches are performed sequentially before performing a parallel search. The serial search algorithm and data partitioning are the basis for parallel search algorithms.
- To find the result of this problem, we first paritioned the fire data to distribute data over a number of processing elements. we use the "Hash data partitioning" as the paritioning method. To make paritions more meaningful by grouping records with the same semantics or capabilities, partitions must be based on specific attributes. One type of attribute-based partitioning is hash partitioning, where the hash function is applied. The result of this hash function determines which processor the record will be placed into. As a result, records within a partition have the same hash value. The hash function is best suited for exact match searches based on partitioing properties that allow direct access to the processor containing the desired record, based on attributes that are identical to exact searches. In this case, only the selected processing element is activated to hold the candidate record, but the total cost is reduced because no other processing elements are required to work. Processing elements that are idle during this particular operation can be used to handle other tasks. Moreover, with the hasing algorithm, partitions will be about the same size. This method is very easy to use because the data that can be split is not really historical.
- We use a linear search as a search algorithm. Linear search is a sequential search that uses a loop to step through the array. Begin with the first element. Compares each element with the value being retrieved and stops when the value is found or the end of the array is reached. The reason for using the linear search is that it is the simplest and straightforward search method. It is easy to understand and implement. Also, we use a parallel search range as a parallel search algorithm, so we do not need to store data in any particular order.
- We use a parallel range search algorithm for range selection from the given data. To use of this algorithm, we uses the linear search algorithm and the hash partitioning method discussed above.

In [4]:
#### Task 1 - Question 2 ####

# Define a simple hash function
def s_hash(x, n):
    """
    Define a simple hash function for demonstration
    
    Arguments:
    x -- an input record
    n -- the number of processors
    
    Return:
    result -- the hash value of x
    """

    result = x%n
    
    return result

# Hash data partitioning function
# We will use the "s_hash" function defined above to realise this partitioning
# Need hash partitioning 
def h_partition_for_fire_by_temp(data, n):
    """
    Perform hash data partitioning on data
    
    Arguments:
    data -- an input dataset which is a list
    n -- the number of processors
    
    Return:
    result -- the partitioned subsets of fireData
    """
    
    dic = {} # We will use a dictionary
    for x in data: # for each data record, perform the following
        h = s_hash(int(x[7]),n) # Get the hash key of the input
        if (h in dic.keys()): # If the key exists
            s = dic[h]
            s.add(tuple(x))
            dic[h] = s # Add the nuew input to the value set of the key
        else: # If the key does not exist
            s = set() # Create an empty value set
            s.update({tuple(x)})
            dic[h] = s # Add the value set to the key
    return dic

# Linear search function
# Need linear search
def linear_search_for_fire_by_temp(data, key):
    """
    Perform Linear search on data for the given key
    
    Arguments:
    data -- an input dataset which is a list
    key -- an query record
    
    Return:
    result -- the position of searched record
    """
    
    matched_list = []
    matched_record = None
    position = -1 # not found position
    
    for x in data:
        if int(x[7]) == key: # If value of int(x[7]) is matched with key
            matched_record = x
            position = data.index(x) # Get the index of x
            result = [position, matched_record] 
            matched_list.append(result) # Append the result value into the matched_list
    return matched_list

# Parallel searchig algorithm for range selection
# Finally do parallel_search_range
def parallel_search_range(data, query_range, n_processor):
    """
    Perform parallel search for range selection on data for the given key
    
    Arguments:
    data -- the input dataset which is a list
    query_range -- a query record in the form of a range (e.g. [65, 101])
    n_processor -- the number of parallel processors
    
    Retrun:
    results -- the matched record information
    """
    
    results = []
    
    # pool: a Python method enabling parallel processing.
    # We need to set number of processes to n_processor,
    # which means that the Pool class will only allow 'n_processor' processes
    # running at the same time.
    pool = Pool(processes = n_processor)
    
    query_s = query_range[0] #start of range
    query_e = query_range[1] #end of range
    DD = h_partition_for_fire_by_temp(fireData,10)
    for query in range(query_s, query_e):
        query_hash = s_hash(query,n_processor)
        d = list(DD[query_hash])
        result = pool.apply(linear_search_for_fire_by_temp, [d, query])
        for r in result:
            if(r[0] != -1): #if it is not not-found
                results.append(r)
                
    return results

#Getting data from fireData between temp range of 65~100
temp_result = parallel_search_range(fireData,[65,101],10)
final_result = []
#append the necessary data only from each elemennt
for x in temp_result: 
    element = []
    element.append(x[1][0])
    element.append(x[1][1])
    element.append(x[1][5])
    element.append(x[1][7])
    final_result.append(element)

#For displaying, label column for output
label = ['Latitude','Longitude','Confidence','Temperature (Celcius)']
df = pd.DataFrame.from_records(final_result,columns=label)
df

     Latitude Longitude Confidence Temperature (Celcius)
0     -37.642   149.263        100                    65
1    -37.4449  147.6594         89                    65
2      -37.46   148.102         88                    65
3    -34.3654   141.543         89                    65
4    -36.1441  145.2221         89                    65
5     -37.876  143.7804         89                    65
6    -37.0959  143.8206         89                    65
7    -37.5816  148.5862         84                    65
8    -34.9023  142.0557         89                    65
9    -36.4143   143.272         89                    65
10   -37.8973  143.4754         82                    65
11   -35.7642  143.3321         89                    65
12     -36.73   143.935         89                    65
13   -36.0295  143.6409         89                    65
14   -34.3943  141.7567         89                    65
15   -36.2618  141.8783         89                    65
16   -38.3998   147.064         89                    65
17   -37.4471  147.6331         89                    65
18   -35.4666  142.0749         89                    65
19    -37.446   148.102        100                    65
20   -36.9902   141.879         89                    65
21    -37.862   144.175         87                    65
22   -37.7746  148.3673         88                    65
23   -36.7218  141.6411         89                    65
24   -35.4255  143.6306         89                    65
25   -36.5661  142.2956         89                    65
26    -37.331   143.122         90                    65
27   -36.1556  141.5904         89                    65
28     -37.88  143.7233         89                    65
29   -37.8062  143.3598         77                    65
..        ...       ...        ...                   ...
446  -36.4035  140.9935        100                    95
447  -35.6374  142.3787        100                    95
448  -37.5027   146.347        100                    95
449  -36.5454  144.7402        100                    96
450   -35.811  142.1403         94                    96
451  -37.4352  143.1444        100                    96
452    -36.91  141.2705        100                    96
453  -37.9246  146.2464        100                    96
454  -37.3735   145.886         87                    96
455  -37.7974  145.9535         87                    97
456  -36.4142  143.1077        100                    97
457  -36.9918  141.8667        100                    97
458  -36.4518  144.7752        100                    97
459  -37.8249  143.6174        100                    98
460  -36.1819  145.9269        100                    98
461  -36.7708  145.1908        100                    98
462  -36.0816   145.859        100                    98
463  -37.4128  147.0242         85                    98
464  -37.5728  142.6348        100                    98
465  -37.5949  142.6857        100                    98
466  -37.3902  148.2955        100                    98
467  -37.3025  143.5714        100                    98
468  -36.5839  143.0588        100                    99
469  -37.8881  145.8229        100                    99
470  -37.4229   147.027        100                    99
471  -38.0254  142.3959        100                    99
472   -37.782  148.3844        100                    99
473  -36.7499  141.3006         75                    99
474  -36.1988  145.0941        100                   100
475  -36.9018  141.0146        100                   100

[476 rows x 4 columns]

## Task 2: Parallel Join

### Question 1
*** Write an algorithm to find surface temperature (Celcius), air temperature (Celcius), relative humidity and maximum wind speed. Justify your choice of the data partition technique and join technique you have used. ***
- The Divide and Broadcast-Based Parallel (DDP) Join Algorithm is used. This algoritm consists of two stages: (1) data partitioning using the divide and broadcast method and (2) a local join. The hash-based join algorithm are used and the round-robin data partitioning function designed for "Parallel Search" activity is used.
- DDP join is suitable method in order to compare two equal number partitioned data, and also compare to other joining methods, it is easy to implement and use. Also we decided to use DDP for this question since it looks suitable for this case. Once Divide and Broadcast-based Partitioning is done, it is okay to use any serial join method. We used hash based join to increase the efficiency compare to other serial join methods.

In [5]:
#### ------- Task 2 - Question 1 ------- ####

from datetime import datetime
import multiprocessing as mp

def rr_partition(data, n):
    """
    Perform data partitioning on data
    
    Arguments:
    data -- an input dataset which is a list
    n -- the number of processors
    
    Return:
    result -- the partitioned subset of D
    """
    
    result = []
    for i in range(n):
        result.append([])
    
    #Calculate the number of elements to be allocated to each bin
    n_bin = len(data)/n
    
    #For each bin, perform the following:
    for index, element in enumerate(data):
        #Calculate the index of the bin that the current data point will be assigned
        index_bin = (int) (index % n)
        result[index_bin].append(element)
    
    return result

def date_hash_for_climate(x): #will hash the date in climateData
    """
    We define a hash function 'date_hash_for_climate' that is used in the hashing process 
    works by converting stirng date value to integer value of the hashed attribute, 
    which in this case is the join attribute.
    
    Arguments:
    x -- a record where hashing will be applied on its join attribute

    Return:
    result -- the hash index of the record x
    """
    
    # the location of hasing value    
    old = x[1]
    # Convert date format
    datetimeobject = datetime.strptime(old,'%Y-%m-%d')
    new = datetimeobject.strftime('%Y%m%d')
    # Convert to integer value
    return int(new)

def date_hash_for_fire(x): #will hash the date in climateData
    """
    We define a hash function 'date_hash_for_fire' that is used in the hashing process 
    works by converting stirng date value to integer value of the hashed attribute, 
    which in this case is the join attribute.
    
    Arguments:
    x -- a record where hashing will be applied on its join attribute

    Return:
    result -- the hash index of the record x
    """
        
    # the location of hasing value 
    old = x[6]
    # Convert date format
    datetimeobject = datetime.strptime(old,'%Y-%m-%d')
    new = datetimeobject.strftime('%Y%m%d')
    # Convert to integer value
    return int(new)

def HB_join(T1,T2): #T1-climateData, T2-fireData
    """
    Perform the hash-based join algorithm.
    The join attribute is the numeric attribute in the input tables T1 & T2

    Arguments:
    T1 & T2 -- Tables to be joined

    Return:
    result -- the joined table
    """
    
    result = []
    
    # We will use a dictionary
    dic = {}
    for t1 in T1:
        # Hash the record based on join attribute value using hash function date_hash_for_climate into hash table
        t1_key = date_hash_for_climate(t1)
        if t1_key in dic:
            dic[t1_key].add(tuple(t1)) # If there is an entry
        else:
            dic[t1_key] = {tuple(t1)}
    
    # For each record in table T2 (probing)
    for t2 in T2:
        # Hash the record based on join attribute value using date_hash_for_fire
        t2_key = date_hash_for_fire(t2)
        # If an index entry is found Then
        if t2_key in dic:
            # Compare each record on this index entry with the record of table T2
            for value in dic[t2_key]:
                 # If the key is the same then put the result
                if t2[6] == value[1]:
                    result.append((t2[7], value[2], value[3], value[5], value[1]))
    
    return result

def DDP_join(T1, T2, n_processor):
    """
    Perform a divide and broadcast-based parallel join algorithms.
    The join attribute is the numeric attribute in the input tables T1 & T2

    Arguments:
    T1 & T2 -- Tables to be joined
    n_processor -- the number of parallel processors

    Return:
    result -- the joined table
    """
        
    result = []
    
    # Partition T1 into sub-tables using rr_partition().
    # The number of the sub-tables must be the equal to the n_processor
    T1_subset = rr_partition(T1,n_processor)
    
    # Pool: a Python method enabling parallel processing.
    pool = mp.Pool(processes = n_processor)
    
    for t1 in T1_subset:
        # Apply a join on each processor
        
        # Note that as we assume a shared-memory architecture, no replication
        # of the broadcast table (in this case: table T2 (smaller table) occurs.
        result.append(pool.apply(HB_join,[t1,T2]))
        
    return result

n_processor = 4
result_data = DDP_join(climateData,fireData,n_processor)

# For display output
temp_data = []
for x in result_data:
    for y in x:
        temp_data.append(y)

# Label columns for output data
label = ['Surface Temperature (Celcius)','Air temperature (Celcius)', 'Relative Humidity (%)', 'Max Wind Speed (knot)', 'Date']

# Using panda library for displaying an output
df = pd.DataFrame(temp_data,columns=label)
# Display an output
df

,Surface Temperature (Celcius),Air temperature (Celcius),Relative Humidity (%),Max Wind Speed (knot),Date
0,68,28,58.3,15.9,2017-12-27
1,63,28,58.3,15.9,2017-12-27
2,53,28,58.3,15.9,2017-12-27
3,67,28,58.3,15.9,2017-12-27
4,42,18,52,14,2017-12-15
5,36,18,52,14,2017-12-15
6,38,18,52,14,2017-12-15
7,40,18,52,14,2017-12-15
8,38,28,56.7,16.9,2017-11-29
9,55,28,56.7,16.9,2017-11-29
10,43,28,56.7,16.9,2017-11-29
11,54,28,56.7,16.9,2017-11-29
12,87,28,56.7,16.9,2017-11-29
13,44,28,56.7,16.9,2017-11-29
14,80,28,56.7,16.9,2017-11-29
15,84,28,56.7,16.9,2017-11-29
16,59,24,51.8,15,2017-11-21
17,61,24,51.9,13,2017-11-13
18,53,24,51.9,13,2017-11-13
19,42,24,51.9,13,2017-11-13
20,38,24,51.9,13,2017-11-13
21,41,24,51.9,13,2017-11-13
22,52,14,50.9,13,2017-11-09
23,51,14,50.9,13,2017-11-09
24,51,14,50.9,13,2017-11-09
25,59,14,50.9,13,2017-11-09
26,47,14,50.9,13,2017-11-09
27,93,14,50.9,13,2017-11-09
28,77,14,50.9,13,2017-11-09
29,41,14,50.9,13,2017-11-09
...,...,...,...,...,...
2638,40,12,43.4,15,2017-04-02
2639,52,12,43.4,15,2017-04-02
2640,47,12,43.4,15,2017-04-02
2641,41,12,43.4,15,2017-04-02
2642,46,12,43.4,15,2017-04-02
2643,51,17,49.9,21,2017-03-29
2644,49,23,61.9,15.9,2017-03-25
2645,54,23,61.9,15.9,2017-03-25
2646,52,23,61.9,15.9,2017-03-25
2647,65,23,61.9,15.9,2017-03-25
2648,62,23,61.9,15.9,2017-03-25
2649,75,23,61.9,15.9,2017-03-25
2650,59,23,61.9,15.9,2017-03-25
2651,111,23,61.9,15.9,2017-03-25
2652,77,23,61.9,15.9,2017-03-25
2653,49,23,61.9,15.9,2017-03-25
2654,99,23,61.9,15.9,2017-03-25
2655,49,23,61.9,15.9,2017-03-25
2656,57,23,61.9,15.9,2017-03-25
2657,56,18,51.1,15,2017-03-17
2658,74,18,51.1,15,2017-03-17
2659,58,18,51.1,15,2017-03-17
2660,59,18,51.1,15,2017-03-17
2661,50,18,51.1,15,2017-03-17
2662,60,18,51.1,15,2017-03-17
2663,42,20,62.2,15,2017-03-13
2664,35,20,62.2,15,2017-03-13
2665,41,23,53.4,11.1,2017-03-09
2666,44,23,53.4,11.1,2017-03-09
2667,55,23,53.4,11.1,2017-03-09

### Question 2
*** Write an algorithm to find datetime, air temperature (Celcius), surface temperature (Celcius) and confidence when the confidence is between 80 and 100. Justify your choice of the data partition technique and join technique you have used. ***
- Basically, with same justification used in Task 2 Question 1, we used DDP join with hash-based join(little bit of tweak) with rr partitioning method. Only difference is, when we add the result, we used if statement to filter the data which has confidence value between 80 to 100.

In [6]:
"""Task 2 question 2"""
#hash function will be same as above, but HB_join will be different

def HB_join_q2(T1,T2): #T1-climateData, T2-fireData
    """
    Perform the hash-based join algorithm for question 2.
    The join attribute is the numeric attribute in the input tables T1 & T2

    Arguments:
    T1 & T2 -- Tables to be joined

    Return:
    result -- the joined table
    """
        
    result = []
    
    dic = {} # We will use a dictionary
    
    # For each record in table T1
    for t1 in T1:
        # Hash the record based on join attribute value using hash function date_jasj_for_climate into hash table
        t1_key = date_hash_for_climate(t1)
        if t1_key in dic:
            dic[t1_key].add(tuple(t1)) # If there is an entry
        else:
            dic[t1_key] = {tuple(t1)}
    
    # For each record in table T2 (probing)
    for t2 in T2:
        # Hash the record based on join attribute value using date_jasj_for_fire
        t2_key = date_hash_for_fire(t2)
        # If an index entry is found Then
        if t2_key in dic:
            # Compare each record on this index entry with the record of table T2
            for value in dic[t2_key]:
                # If the key is the same then put the result
                if t2[6] == value[1]:
                    # If the key is the between 80 and 100
                    if (int(t2[5])>= 80)and(int(t2[5])<=100):
                        result.append((t2[3],value[2],t2[7],t2[5]))
    return result

def DDP_join(T1, T2, n_processor):
    """
    Perform a divide and broadcast-based parallel join algorithms.
    The join attribute is the numeric attribute in the input tables T1 & T2

    Arguments:
    T1 & T2 -- Tables to be joined
    n_processor -- the number of parallel processors

    Return:
    result -- the joined table
    """
    
    result = []
    
    # Partition T1 into sub-tables using rr_partition().
    # The number of the sub-tables must be the equal to the n_processor
    T1_subset = rr_partition(T1,n_processor)
    
    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)
    
    for t1 in T1_subset:
        # Apply a join on each processor
        
        # Note that as we assume a shared-memory architecture, no replication
        # of the broadcast table (in this case: table T2 (smaller table) occurs.
        result.append(pool.apply(HB_join_q2,[t1,T2]))
        
    return result

n_processor = 4
result_data = DDP_join(climateData,fireData,n_processor)

# For display output
temp_data = []
for x in result_data:
    for y in x:
        temp_data.append(y)

# Label columns for output data
label = ['Datetime','Air temperature (Celcius)','Surface temperature (Celcius)','Confidence']
# Using panda library for displaying an output
df = pd.DataFrame(temp_data,columns=label)
# Display an output
df

,Datetime,Air temperature (Celcius),Surface temperature (Celcius),Confidence
0,2017-12-27T00:02:15,28,63,82
1,2017-12-27T00:02:14,28,67,86
2,2017-12-15T13:17:17,18,42,92
3,2017-11-29T13:17:24,28,55,100
4,2017-11-29T03:52:10,28,87,100
5,2017-11-29T03:52:10,28,80,97
6,2017-11-29T03:52:10,28,84,99
7,2017-11-21T00:27:21,24,59,85
8,2017-11-13T03:52:15,24,61,87
9,2017-11-13T03:52:14,24,53,81
10,2017-11-09T04:16:48,14,59,85
11,2017-11-09T04:16:48,14,93,100
12,2017-11-09T04:16:48,14,77,96
13,2017-11-09T04:16:44,14,62,87
14,2017-11-09T04:16:44,14,80,97
15,2017-11-05T04:41:34,13,58,83
16,2017-11-05T04:41:19,13,65,90
17,2017-11-05T04:41:19,13,62,89
18,2017-10-28T03:52:17,15,56,81
19,2017-10-20T04:41:19,13,46,80
20,2017-10-20T04:41:19,13,50,82
21,2017-10-04T04:41:02,19,46,80
22,2017-10-04T04:41:00,19,46,80
23,2017-10-04T04:41:00,19,54,85
24,2017-10-04T04:41:00,19,58,88
25,2017-09-10T04:00:00,11,54,80
26,2017-09-10T03:53:00,11,58,84
27,2017-09-10T03:50:30,11,60,86
28,2017-09-10T03:50:10,11,54,81
29,2017-08-13T05:08:00,15,62,87
...,...,...,...,...
1103,2017-04-06T04:20:40,19,77,96
1104,2017-04-06T04:20:40,19,68,91
1105,2017-04-06T04:20:40,19,81,97
1106,2017-04-06T04:20:40,19,56,82
1107,2017-04-06T04:20:40,19,104,94
1108,2017-04-06T04:20:40,19,71,92
1109,2017-04-06T04:20:40,19,62,87
1110,2017-04-06T04:20:40,19,61,81
1111,2017-04-06T04:20:40,19,53,80
1112,2017-04-06T04:20:40,19,60,85
1113,2017-04-06T04:20:40,19,67,90
1114,2017-04-06T04:20:40,19,62,87
1115,2017-04-06T04:20:40,19,86,94
1116,2017-04-06T04:20:40,19,57,84
1117,2017-04-06T04:20:40,19,62,87
1118,2017-04-06T04:20:40,19,100,100
1119,2017-04-06T04:20:40,19,72,86
1120,2017-04-06T04:20:40,19,57,81
1121,2017-04-06T04:20:40,19,89,94
1122,2017-03-25T03:59:50,23,65,82
1123,2017-03-25T03:58:10,23,62,87
1124,2017-03-25T03:58:10,23,75,95
1125,2017-03-25T03:57:10,23,59,85
1126,2017-03-25T03:57:10,23,111,100
1127,2017-03-25T03:57:10,23,77,95
1128,2017-03-25T03:56:40,23,99,100
1129,2017-03-17T04:48:20,18,74,94
1130,2017-03-17T04:45:10,18,59,84
1131,2017-03-17T04:45:00,18,60,86
1132,2017-03-09T13:23:40,23,41,86

## Task 3: Parallel Sort
- Write an algorithm to sort fire data based on surface temperature (Celcius) in a ascending order. Justify your choice of the data partition technique and sorting technique you have used.
- We decided to use Parallel Merge-all sort for this question. Parallel Merge-all sort algorithm has two steps to complete: Local sort and Final Merge.
- Parallel merge-all sort is simple to implement. Load Balance is easy to acheive by using rr partition. Since this method is straightforward, it is easy to predict the outcomes.

In [7]:
""" Task 3"""

# 1. partition method
# Using the rr_partition for partitioning 
#rr_partition(fireData, 3)

# 2. sorting method
# Using the qsort for sorting 
def qsort_by_surf_temp(arr):
    """
    Quicksort a list
    
    Arguments:
    arr -- the input list to be sorted
    
    Return:
    result -- the sorted arr
    """
    if len(arr) <= 1:
        return arr
    else:
        pivot = arr[0]
        #put into left_arr if its value is smaller than current pivot
        left_arr = [x for x in arr[1:] if int(x[7]) < int(pivot[7])]
        #put into right_arr if its value is greater or equal to current pivot
        right_arr = [x for x in arr[1:] if int(x[7]) >= int(pivot[7])]
        #recursively call qsort for each left_arr and right_arr until length of arr become 1 or less.
        value = qsort_by_surf_temp(left_arr) + [pivot] + qsort_by_surf_temp(right_arr)
        return value

In [8]:
# Let's first look at 'k-way merging algorithm' that will be used 
# to merge sub-record sets in our external sorting algorithm.
import sys

# Find the smallest record
def find_min(records):    
    """ 
    Find the smallest record
    
    Arguments:
    records -- the input record set

    Return:
    result -- the smallest record's index
    """

    #first value in records
    m = int(records[0][7])
    index = 0
    for i in range(len(records)):
        #comparing current value with current smallest value. if current i value is smaller,
        if(int(records[i][7]) < m):
            #change the index of min
            index = i
            #change the min value
            m = int(records[i][7])
    return index

def k_way_merge(record_sets):
    """ 
    K-way merging algorithm
    
    Arguments:
    record_sets -- the set of mulitple sorted sub-record sets

    Return:
    result -- the sorted and merged record set
    """
    
    # indexes will keep the indexes of sorted records in the given buffers
    indexes = []
    for x in record_sets:
        indexes.append(0) # initialisation with 0
    
    # final result will be stored in this variable
    result = []
    
    
    while(True):
        tuple = [] # initialise tuple
        
        #This loop gets the current position of every buffer
        for i in range(len(record_sets)):
            if(indexes[i] >= len(record_sets[i])):
                #generate max_list. From index 0 to 6, any number or string is fine.
                #however, index 7 must be sys.maxsize.
                max_list = ['a','b','c','d','e','f','g',sys.maxsize]
                tuple.append(max_list)
            else:
                tuple.append(record_sets[i][indexes[i]])

        #find the smallest record
        smallest = find_min(tuple)
        
        
        #if we only have sys.maxsize on the tuple, we reached the end of every record set
        if(tuple[smallest][7] == sys.maxsize):
            break
            
        #This record is the next on the merged list
        result.append(record_sets[smallest][indexes[smallest]])

        indexes[smallest] += 1
    
    return result

In [9]:
# serial sorting method

def serial_sorting(dataset, buffer_size):
    """
    Perform a serial external sorting method based on sort-merge
    The buffer size determines the size of eac sub-record set

    Arguments:
    dataset -- the entire record set to be sorted
    buffer_size -- the buffer size determining the size of each sub-record set

    Return:
    result -- the sorted record set
    """
    
    if (buffer_size <= 2):
        print("Error: buffer size should be greater than 2")
        return
    
    result = []
    
    
    #--- Sort Phase ---
    sorted_set = []
    
    # Read buffer_size pages at a time into memory and 
    # sort them, wnd write out a sub-record set (i.e. variable: subsset)
    start_pos = 0
    N = len(dataset)
    while True:
        if((N - start_pos) > buffer_size):
            #read from start position to start_pos+buffer_size
            subset = dataset[start_pos:start_pos + buffer_size]
            #sort the subset (using quickshort)
            sorted_subset = qsort_by_surf_temp(subset)
            sorted_set.append(sorted_subset)
            #change start_pos to start_pos+buffer_sizes (which is end of previous subset)
            start_pos += buffer_size
        else:
            #if remaining number of elements in dataset is smaller than buffer size.
            subset = dataset[start_pos:]
            #sort the subset
            sorted_subset = qsort_by_surf_temp(subset)
            sorted_set.append(sorted_subset)
            break
            
    # --- Merge Phase ---
    merge_buffer_size = buffer_size - 1
    dataset = sorted_set
    while True:
        merged_set = []
        
        N = len(dataset)
        start_pos = 0
        while True:
            if((N - start_pos) > merge_buffer_size):
                #read records from start position to start_pos+buffer_size
                subset = dataset[start_pos:start_pos + merge_buffer_size]
                #merging
                merged_set.append(k_way_merge(subset))
                #change start_pos to start_pos + buffers_size (end of previous dataset)
                start_pos += merge_buffer_size
            else:
                #when remaining data is less than sizes of buffer
                subset = dataset[start_pos:]
                merged_set.append(k_way_merge(subset))
                break
        dataset = merged_set
        if (len(dataset) <= 1): #if the size of merged record set is 1, then stop
            result = merged_set
            break
    
    return result

In [10]:
result = serial_sorting(fireData, 4)
#result

In [11]:
# Parallel sorting method

# Include this package for parallel processing
import multiprocessing as mp

def parallel_merge_all_sorting(dataset, n_processor, buffer_size):
    """
    Perform a parallel merge-all sorting method

    Arguments:
    dataset -- entire record set to be sorted
    n_processor -- number of parallel processors
    buffer_size -- buffer size determining the size of each sub-record set

    Return:
    result -- the merged record set
    """
    if (buffer_size <= 2):
        print("Error: buffer size should be greater than 2")
        return
    
    result = []

    
    # Partitioning using rr
    subsets = rr_partition(dataset, n_processor)
    
    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)

    # ----- Sort phase -----
    sorted_set = []
    for i in subsets:
        sorted_set.append(*pool.apply(serial_sorting, [i, buffer_size]))
    pool.close()
    
    # ---- Final merge phase ----
    merge = k_way_merge(sorted_set)
    
    
    
    return merge

In [12]:
result = parallel_merge_all_sorting(fireData, 4, 4)

label = ['Latitude','Longitude','Surface Temperature (Kelvin)','DateTime','Power','Confidence','Date','Surface Temperature (Celcius)']
df = pd.DataFrame(result,columns=label)
df

,Latitude,Longitude,Surface Temperature (Kelvin),DateTime,Power,Confidence,Date,Surface Temperature (Celcius)
0,-37.886,147.207,302,2017-07-02T04:28:42,10.7,50,2017-07-02,28
1,-37.886,147.207,302,2017-07-02T04:28:42,10.7,50,2017-07-02,28
2,-36.943,143.286,302.7,2017-11-11T15:08:00,18.8,51,2017-11-11,29
3,-37.062,141.373,303.1,2017-07-01T13:11:41,16.1,53,2017-07-01,29
4,-37.466,148.1,302.2,2017-10-02T23:44:31,10.9,50,2017-10-02,29
5,-37.062,141.373,303.1,2017-07-01T13:11:41,16.1,53,2017-07-01,29
6,-37.227,141.146,305.1,2017-10-03T01:22:44,41.2,54,2017-10-03,31
7,-37.38,149.334,304.5,2017-11-30T15:38:32,14.1,61,2017-11-30,31
8,-36.779,146.108,305.3,2017-07-01T03:46:08,25.7,61,2017-07-01,32
9,-35.646,142.282,305.6,2017-12-24T13:12:01,11.8,65,2017-12-24,32
10,-37.598,149.29,305.4,2017-11-30T12:22:15,21.4,64,2017-11-30,32
11,-36.779,146.108,305.3,2017-07-01T03:46:08,25.7,61,2017-07-01,32
12,-37.624,149.332,306.8,2017-12-16T15:38:39,20.8,69,2017-12-16,33
13,-37.602,149.295,307.1,2017-11-30T12:22:15,24.8,62,2017-11-30,33
14,-37.461,148.109,306.8,2017-10-03T15:01:44,14.5,69,2017-10-03,33
15,-37.087,145.37,306.7,2017-09-26T03:52:14,17.5,64,2017-09-26,33
16,-37.561,148.032,307.8,2017-09-24T15:07:49,11.1,73,2017-09-24,34
17,-37.463,148.109,307.2,2017-10-01T15:13:56,10.9,62,2017-10-01,34
18,-36.5511,146.7819,307.6,2017-04-26T13:26:10,18.7,56,2017-04-26,34
19,-37.453,148.118,307.4,2017-09-24T15:07:47,10.9,71,2017-09-24,34
20,-36.984,148.25,308.6,2017-09-23T04:59:18,40.9,50,2017-09-23,35
21,-35.6961,143.1935,308.5,2017-04-07T12:53:40,16.6,61,2017-04-07,35
22,-37.58,149.331,309,2017-11-30T15:38:35,18.4,69,2017-11-30,35
23,-37.3314,149.1283,309.1,2017-04-07T12:52:10,15.8,65,2017-04-07,35
24,-36.0933,141.7154,308.8,2017-04-04T15:30:40,19.7,63,2017-04-04,35
25,-37.0316,148.1519,308.6,2017-03-13T12:57:00,13.7,52,2017-03-13,35
26,-36.1,143.772,309.1,2017-10-21T01:09:54,28.7,65,2017-10-21,35
27,-37.227,141.151,308.4,2017-10-03T03:58:28,28.1,59,2017-10-03,35
28,-37.758,148.721,308.8,2017-09-24T15:07:50,11.2,76,2017-09-24,35
29,-37.538,148.895,308.4,2017-09-24T15:07:46,11.6,74,2017-09-24,35
...,...,...,...,...,...,...,...,...
2638,-37.237,142.141,385.8,2017-09-20T04:29:03,180.1,100,2017-09-20,112
2639,-36.4338,141.1856,385.4,2017-05-04T04:44:40,181.9,100,2017-05-04,112
2640,-36.9045,141.9823,386.7,2017-04-18T04:48:20,181.2,100,2017-04-18,113
2641,-36.9817,143.5051,386.5,2017-04-13T04:27:20,180.6,100,2017-04-13,113
2642,-37.4224,147.0511,386.4,2017-03-19T04:32:40,176.6,100,2017-03-19,113
2643,-36.1404,143.5643,386.2,2017-05-13T04:38:40,187.5,100,2017-05-13,113
2644,-37.8339,147.2118,386.3,2017-05-10T04:08:10,189.2,100,2017-05-10,113
2645,-36.104,141.772,386.7,2017-04-04T04:33:30,178.1,100,2017-04-04,113
2646,-35.9342,141.9444,387,2017-04-15T04:17:10,178.7,94,2017-04-15,113
2647,-38.1616,143.0674,388,2017-04-18T04:44:50,191.6,100,2017-04-18,114
2648,-37.7269,143.0087,387.7,2017-04-13T04:28:30,190.4,100,2017-04-13,114
2649,-36.6088,145.2514,388.8,2017-05-03T04:09:40,202.2,100,2017-05-03,115
2650,-37.8545,142.5132,389,2017-04-06T04:21:00,194.7,100,2017-04-06,115
2651,-36.6029,144.6259,388.8,2017-04-13T04:26:50,193.3,100,2017-04-13,115
2652,-37.3716,145.9065,389,2017-04-03T03:52:20,203.8,100,2017-04-03,115
2653,-36.2829,145.825,388.4,2017-05-08T04:20:10,197.9,100,2017-05-08,115
2654,-36.239,143.3972,389.9,2017-04-15T04:14:30,198.5,100,2017-04-15,116
2655,-36.6946,144.7875,390.9,2017-04-18T04:44:50,205.5,100,2017-04-18,117
2656,-36.9348,143.098,391.1,2017-05-01T04:14:20,208.4,87,2017-05-01,117
2657,-36.114,142.1377,391.2,2017-04-04T04:32:50,202.8,100,2017-04-04,118
2658,-36.4057,140.9806,392.2,2017-05-04T04:44:50,214.4,100,2017-05-04,119
2659,-37.8326,143.4999,393.8,2017-04-18T04:44:50,220.4,100,2017-04-18,120
2660,-36.1057,141.7608,393.8,2017-04-04T04:40:00,212.5,100,2017-04-04,120
2661,-36.3521,142.2008,394,2017-04-04T04:32:40,218.7,100,2017-04-04,120
2662,-34.9938,141.876,394,2017-05-13T04:40:20,223.8,100,2017-05-13,120
2663,-37.0745,141.0692,393.7,2017-04-13T04:28:10,218.7,100,2017-04-13,120
2664,-37.017,148.1297,394.3,2017-03-18T03:50:50,224.3,100,2017-03-18,121
2665,-36.9318,143.0907,396,2017-05-01T04:14:20,236,100,2017-05-01,122
2666,-36.343,142.1986,396.3,2017-04-04T04:32:50,233.4,100,2017-04-04,123
2667,-38.1665,143.062,397.5,2017-04-18T04:52:00,239.8,100,2017-04-18,124

## Task 4: Parallel Group-By

### Question 1
*** Write an algorithm to get the number of fire in each day. You are required to only display total number of fire and the date in the output. Justify your choice of the data partition technique if any. ***
- We used traditional merge-all groupby algorithm for Task 4. It has two phases: local groupby and global merge. As prerequasite, dataset need to be partitioned using rr partition.
- If dataset is large, then efficiency will drop, but since this task's dataset is not huge, it will not effect efficiency much. Therefore we decided merge-all groupby algorithm is more appropirate and easy to implement and use.
- For final merge, this algorithm may create bottleneck. However, since this dataset is not enourmous, performance will not drop much.

In [13]:
from collections import Counter

# The first step in the merge-all groupby method
def local_groupby(dataset):
    """
    Perform a local groupby method

    Arguments:
    dataset -- entire record set to be merged

    Return:
    result -- the aggregated record set according to the group_by attribute index
    """
    
    dict={} # Use a dictionary
    for index, record in enumerate(dataset):
        #find key for each record
        key = date_hash_for_fire(record)
        if key not in dict:
            #create key with value 0
            dict[key] = 0
        #increment the value of the key by 1
        dict[key] += 1
    return dict




def parallel_merge_all_groupby(dataset):
    """
    Perform a parallel merge_all groupby method

    Arguments:
    dataset -- entire record set to be merged

    Return:
    result -- the aggregated record dictionary according to the group_by attribute index
    """
    
    result = {}
    
    # Define the number of parallel processors: the number of sub-datasets.
    n_processor = len(dataset)
    
    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)
    
    # ----- Local aggregation step -----
    local_result = []
    for s in dataset:
        # call the local aggregation method
        local_result.append(pool.apply(local_groupby,[s]))
    pool.close()
    
    # ---- Global aggregation step ----
    # Let's assume that the global operator is sum.
    merged_result = {}
    for subset in local_result:
        #Merging the dictionaries
        merged_result = dict(Counter(merged_result) + Counter(subset))

    return merged_result


pted_data = rr_partition(fireData,4)
result = parallel_merge_all_groupby(pted_data)

# for displaying an output
for x in result:
    keys = str(x)
    old = str(keys)
    
    # Convert date format
    datetimeobject = datetime.strptime(old,'%Y%m%d')
    new = datetimeobject.strftime('%Y-%m-%d')
    # Display an output
    print("Date: " + new + " , Total Number of Fire: " + str(result[x]))

Date: 2017-04-11 , Total Number of Fire: 24
Date: 2017-09-24 , Total Number of Fire: 28
Date: 2017-04-14 , Total Number of Fire: 18
Date: 2017-09-27 , Total Number of Fire: 7
Date: 2017-03-31 , Total Number of Fire: 22
Date: 2017-09-29 , Total Number of Fire: 2
Date: 2017-05-03 , Total Number of Fire: 64
Date: 2017-10-16 , Total Number of Fire: 1
Date: 2017-08-02 , Total Number of Fire: 2
Date: 2017-08-05 , Total Number of Fire: 1
Date: 2017-05-05 , Total Number of Fire: 31
Date: 2017-08-10 , Total Number of Fire: 1
Date: 2017-10-18 , Total Number of Fire: 6
Date: 2017-08-14 , Total Number of Fire: 5
Date: 2017-03-06 , Total Number of Fire: 2
Date: 2017-03-07 , Total Number of Fire: 1
Date: 2017-03-08 , Total Number of Fire: 2
Date: 2017-03-09 , Total Number of Fire: 3
Date: 2017-03-10 , Total Number of Fire: 8
Date: 2017-03-12 , Total Number of Fire: 5
Date: 2017-10-20 , Total Number of Fire: 3
Date: 2017-03-14 , Total Number of Fire: 10
Date: 2017-03-15 , Total Number of Fire: 7
Date: 2017-03-17 , Total Number of Fire: 6
Date: 2017-03-18 , Total Number of Fire: 3
Date: 2017-03-19 , Total Number of Fire: 21
Date: 2017-03-24 , Total Number of Fire: 2
Date: 2017-03-25 , Total Number of Fire: 13
Date: 2017-03-26 , Total Number of Fire: 17
Date: 2017-03-28 , Total Number of Fire: 54
Date: 2017-03-29 , Total Number of Fire: 1
Date: 2017-10-23 , Total Number of Fire: 1
Date: 2017-05-14 , Total Number of Fire: 1
Date: 2017-05-15 , Total Number of Fire: 102
Date: 2017-11-13 , Total Number of Fire: 5
Date: 2017-10-28 , Total Number of Fire: 1
Date: 2017-06-02 , Total Number of Fire: 11
Date: 2017-06-07 , Total Number of Fire: 14
Date: 2017-09-10 , Total Number of Fire: 4
Date: 2017-04-01 , Total Number of Fire: 7
Date: 2017-04-02 , Total Number of Fire: 5
Date: 2017-04-03 , Total Number of Fire: 72
Date: 2017-04-04 , Total Number of Fire: 89
Date: 2017-04-05 , Total Number of Fire: 49
Date: 2017-04-06 , Total Number of Fire: 118
Date: 2017-11-21 , Total Number of Fire: 1
Date: 2017-09-20 , Total Number of Fire: 5
Date: 2017-09-21 , Total Number of Fire: 2
Date: 2017-09-22 , Total Number of Fire: 1
Date: 2017-09-23 , Total Number of Fire: 23
Date: 2017-04-12 , Total Number of Fire: 69
Date: 2017-04-13 , Total Number of Fire: 357
Date: 2017-09-26 , Total Number of Fire: 1
Date: 2017-04-15 , Total Number of Fire: 69
Date: 2017-04-16 , Total Number of Fire: 18
Date: 2017-04-17 , Total Number of Fire: 38
Date: 2017-04-18 , Total Number of Fire: 325
Date: 2017-04-19 , Total Number of Fire: 50
Date: 2017-04-20 , Total Number of Fire: 31
Date: 2017-04-22 , Total Number of Fire: 2
Date: 2017-04-23 , Total Number of Fire: 19
Date: 2017-04-24 , Total Number of Fire: 8
Date: 2017-04-25 , Total Number of Fire: 3
Date: 2017-04-26 , Total Number of Fire: 1
Date: 2017-04-29 , Total Number of Fire: 3
Date: 2017-07-01 , Total Number of Fire: 4
Date: 2017-11-28 , Total Number of Fire: 1
Date: 2017-12-14 , Total Number of Fire: 1
Date: 2017-11-30 , Total Number of Fire: 31
Date: 2017-12-16 , Total Number of Fire: 15
Date: 2017-10-01 , Total Number of Fire: 8
Date: 2017-10-02 , Total Number of Fire: 7
Date: 2017-10-03 , Total Number of Fire: 18
Date: 2017-10-04 , Total Number of Fire: 5
Date: 2017-10-06 , Total Number of Fire: 2
Date: 2017-10-07 , Total Number of Fire: 1
Date: 2017-10-08 , Total Number of Fire: 1
Date: 2017-10-09 , Total Number of Fire: 1
Date: 2017-10-10 , Total Number of Fire: 3
Date: 2017-05-01 , Total Number of Fire: 20
Date: 2017-05-02 , Total Number of Fire: 10
Date: 2017-10-15 , Total Number of Fire: 3
Date: 2017-05-04 , Total Number of Fire: 135
Date: 2017-10-17 , Total Number of Fire: 5
Date: 2017-05-06 , Total Number of Fire: 17
Date: 2017-05-07 , Total Number of Fire: 3
Date: 2017-05-08 , Total Number of Fire: 24
Date: 2017-10-21 , Total Number of Fire: 4
Date: 2017-05-10 , Total Number of Fire: 114
Date: 2017-05-11 , Total Number of Fire: 19
Date: 2017-05-12 , Total Number of Fire: 10
Date: 2017-05-13 , Total Number of Fire: 54
Date: 2017-10-26 , Total Number of Fire: 5
Date: 2017-10-27 , Total Number of Fire: 5
Date: 2017-05-16 , Total Number of Fire: 3
Date: 2017-05-17 , Total Number of Fire: 1
Date: 2017-05-18 , Total Number of Fire: 7
Date: 2017-05-22 , Total Number of Fire: 33
Date: 2017-05-23 , Total Number of Fire: 5
Date: 2017-05-24 , Total Number of Fire: 3
Date: 2017-05-26 , Total Number of Fire: 4
Date: 2017-08-01 , Total Number of Fire: 2
Date: 2017-11-05 , Total Number of Fire: 4
Date: 2017-11-08 , Total Number of Fire: 2
Date: 2017-11-09 , Total Number of Fire: 10
Date: 2017-11-11 , Total Number of Fire: 4
Date: 2017-11-12 , Total Number of Fire: 5
Date: 2017-06-01 , Total Number of Fire: 2
Date: 2017-11-14 , Total Number of Fire: 3
Date: 2017-06-03 , Total Number of Fire: 2
Date: 2017-06-04 , Total Number of Fire: 9
Date: 2017-08-13 , Total Number of Fire: 9
Date: 2017-06-09 , Total Number of Fire: 3
Date: 2017-11-22 , Total Number of Fire: 2
Date: 2017-06-11 , Total Number of Fire: 2
Date: 2017-06-13 , Total Number of Fire: 1
Date: 2017-06-14 , Total Number of Fire: 4
Date: 2017-06-16 , Total Number of Fire: 2
Date: 2017-11-29 , Total Number of Fire: 8
Date: 2017-06-18 , Total Number of Fire: 2
Date: 2017-06-20 , Total Number of Fire: 6
Date: 2017-06-22 , Total Number of Fire: 1
Date: 2017-07-31 , Total Number of Fire: 2
Date: 2017-06-30 , Total Number of Fire: 6
Date: 2017-03-13 , Total Number of Fire: 2
Date: 2017-05-09 , Total Number of Fire: 13
Date: 2017-12-08 , Total Number of Fire: 5
Date: 2017-12-09 , Total Number of Fire: 4
Date: 2017-12-10 , Total Number of Fire: 2
Date: 2017-11-23 , Total Number of Fire: 5
Date: 2017-12-12 , Total Number of Fire: 1
Date: 2017-12-13 , Total Number of Fire: 1
Date: 2017-07-02 , Total Number of Fire: 8
Date: 2017-12-15 , Total Number of Fire: 4
Date: 2017-07-04 , Total Number of Fire: 1
Date: 2017-07-05 , Total Number of Fire: 1
Date: 2017-07-06 , Total Number of Fire: 3
Date: 2017-12-21 , Total Number of Fire: 1
Date: 2017-12-24 , Total Number of Fire: 1
Date: 2017-12-25 , Total Number of Fire: 1
Date: 2017-07-14 , Total Number of Fire: 2
Date: 2017-12-27 , Total Number of Fire: 4
Date: 2017-07-29 , Total Number of Fire: 2
Date: 2017-04-07 , Total Number of Fire: 39
Date: 2017-04-08 , Total Number of Fire: 20

### Question 2
*** Write an algorithm to find the average surface temperature (Celcius) for each day. You are required to only display average surface temperature (Celcius) and the date in the output. Justify your choice of the data partition technique if any. ***
- Justification is same as above, Task 4 question 1.
- Will reuse the rr_partition. However, local_groupby will be different, since it is not just counting the number, but need to display more information

In [14]:
"""
Task 4 question 2
We will use the rr_partition used above
"""
def local_groupby_q2(dataset):
    """
    Perform a local groupby method

    Arguments:
    dataset -- entire record set to be merged

    Return:
    result -- the aggregated record set according to the group_by attribute index
    """
    
    dict = {} # use a dictionary 

    for index, record in enumerate(dataset):
        key = date_hash_for_fire(record)
        if key not in dict:
            dict[key]=[]
            dict[key].append(0) #sum of surface temperature
            dict[key].append(0) #count number of data which has same key
        dict[key][1]+=1
        dict[key][0]+=int(record[7])
    return dict

def parallel_merge_all_groupby_q2(dataset):
    """
    Perform a parallel merge_all groupby method

    Arguments:
    dataset -- entire record set to be merged

    Return:
    result -- the aggregated record dictionary according to the group_by attribute index
    """
    
    result = {}
    
    # Define the number of parallel processors: the number of sub-datasets.
    n_processor = len(dataset)
    
    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)
    
    # ----- Local aggregation step -----
    local_result = []
    for s in dataset:
        # call the local aggregation method
        local_result.append(pool.apply(local_groupby_q2,[s]))
    pool.close()
    
    # ---- Global aggregation step ----
    # Let's assume that the global operator is sum.
    merged_result = {}

    for subset in local_result:
        for key in subset:
            if key not in merged_result:
                merged_result[key]=[]
                merged_result[key].append(0)
                merged_result[key].append(0)
            merged_result[key][0]+=subset[key][0] #sum up the sum of surface temperature
            merged_result[key][1]+=subset[key][1] #sum up the number of data count
    
    for key in merged_result:
        #Calucating average surface temperature
        merged_result[key][0] = merged_result[key][0]/merged_result[key][1]
    
    return merged_result
    
pted_data = rr_partition(fireData,4)
result = parallel_merge_all_groupby_q2(pted_data)

# For displaying an output
for x in result:
    keys = str(x)
    old = str(keys)
    
    # Convert date format
    datetimeobject = datetime.strptime(old,'%Y%m%d')
    new = datetimeobject.strftime('%Y-%m-%d')
    # Displaying an output
    print("Date: " + new + " , Average Surface Temperature (Celcius): " + str(result[x][0]))

Date: 2017-10-08 , Average Surface Temperature (Celcius): 41.0
Date: 2017-10-09 , Average Surface Temperature (Celcius): 44.0
Date: 2017-10-10 , Average Surface Temperature (Celcius): 53.333333333333336
Date: 2017-04-11 , Average Surface Temperature (Celcius): 46.291666666666664
Date: 2017-05-01 , Average Surface Temperature (Celcius): 68.4
Date: 2017-05-02 , Average Surface Temperature (Celcius): 55.6
Date: 2017-10-15 , Average Surface Temperature (Celcius): 72.66666666666667
Date: 2017-05-04 , Average Surface Temperature (Celcius): 56.80740740740741
Date: 2017-10-17 , Average Surface Temperature (Celcius): 51.6
Date: 2017-05-06 , Average Surface Temperature (Celcius): 57.529411764705884
Date: 2017-05-07 , Average Surface Temperature (Celcius): 50.333333333333336
Date: 2017-05-08 , Average Surface Temperature (Celcius): 56.291666666666664
Date: 2017-10-21 , Average Surface Temperature (Celcius): 51.25
Date: 2017-05-10 , Average Surface Temperature (Celcius): 52.86842105263158
Date: 2017-05-11 , Average Surface Temperature (Celcius): 59.36842105263158
Date: 2017-05-12 , Average Surface Temperature (Celcius): 51.5
Date: 2017-05-13 , Average Surface Temperature (Celcius): 58.611111111111114
Date: 2017-10-26 , Average Surface Temperature (Celcius): 44.6
Date: 2017-10-27 , Average Surface Temperature (Celcius): 50.4
Date: 2017-05-16 , Average Surface Temperature (Celcius): 39.666666666666664
Date: 2017-05-17 , Average Surface Temperature (Celcius): 52.0
Date: 2017-05-18 , Average Surface Temperature (Celcius): 44.142857142857146
Date: 2017-05-22 , Average Surface Temperature (Celcius): 54.484848484848484
Date: 2017-05-23 , Average Surface Temperature (Celcius): 51.2
Date: 2017-05-24 , Average Surface Temperature (Celcius): 40.333333333333336
Date: 2017-05-26 , Average Surface Temperature (Celcius): 49.5
Date: 2017-03-31 , Average Surface Temperature (Celcius): 48.72727272727273
Date: 2017-09-29 , Average Surface Temperature (Celcius): 43.0
Date: 2017-10-16 , Average Surface Temperature (Celcius): 36.0
Date: 2017-05-03 , Average Surface Temperature (Celcius): 56.796875
Date: 2017-08-01 , Average Surface Temperature (Celcius): 58.0
Date: 2017-08-02 , Average Surface Temperature (Celcius): 63.5
Date: 2017-08-05 , Average Surface Temperature (Celcius): 40.0
Date: 2017-05-05 , Average Surface Temperature (Celcius): 51.70967741935484
Date: 2017-08-10 , Average Surface Temperature (Celcius): 63.0
Date: 2017-10-18 , Average Surface Temperature (Celcius): 52.166666666666664
Date: 2017-08-14 , Average Surface Temperature (Celcius): 40.8
Date: 2017-03-06 , Average Surface Temperature (Celcius): 60.5
Date: 2017-03-07 , Average Surface Temperature (Celcius): 64.0
Date: 2017-03-08 , Average Surface Temperature (Celcius): 51.5
Date: 2017-03-09 , Average Surface Temperature (Celcius): 46.666666666666664
Date: 2017-03-10 , Average Surface Temperature (Celcius): 69.375
Date: 2017-03-12 , Average Surface Temperature (Celcius): 88.2
Date: 2017-10-20 , Average Surface Temperature (Celcius): 50.0
Date: 2017-03-14 , Average Surface Temperature (Celcius): 65.6
Date: 2017-03-15 , Average Surface Temperature (Celcius): 46.0
Date: 2017-03-17 , Average Surface Temperature (Celcius): 59.5
Date: 2017-03-18 , Average Surface Temperature (Celcius): 79.33333333333333
Date: 2017-03-19 , Average Surface Temperature (Celcius): 65.57142857142857
Date: 2017-08-13 , Average Surface Temperature (Celcius): 49.0
Date: 2017-03-24 , Average Surface Temperature (Celcius): 49.0
Date: 2017-03-25 , Average Surface Temperature (Celcius): 66.0
Date: 2017-03-26 , Average Surface Temperature (Celcius): 56.88235294117647
Date: 2017-03-28 , Average Surface Temperature (Celcius): 60.925925925925924
Date: 2017-03-29 , Average Surface Temperature (Celcius): 51.0
Date: 2017-12-13 , Average Surface Temperature (Celcius): 60.0
Date: 2017-10-23 , Average Surface Temperature (Celcius): 38.0
Date: 2017-10-28 , Average Surface Temperature (Celcius): 56.0
Date: 2017-09-26 , Average Surface Temperature (Celcius): 33.0
Date: 2017-11-05 , Average Surface Temperature (Celcius): 58.5
Date: 2017-04-12 , Average Surface Temperature (Celcius): 52.69565217391305
Date: 2017-11-08 , Average Surface Temperature (Celcius): 45.5
Date: 2017-11-09 , Average Surface Temperature (Celcius): 61.3
Date: 2017-11-11 , Average Surface Temperature (Celcius): 46.25
Date: 2017-11-12 , Average Surface Temperature (Celcius): 53.0
Date: 2017-06-01 , Average Surface Temperature (Celcius): 54.0
Date: 2017-11-14 , Average Surface Temperature (Celcius): 52.0
Date: 2017-06-03 , Average Surface Temperature (Celcius): 47.0
Date: 2017-06-04 , Average Surface Temperature (Celcius): 52.22222222222222
Date: 2017-05-14 , Average Surface Temperature (Celcius): 49.0
Date: 2017-06-07 , Average Surface Temperature (Celcius): 51.857142857142854
Date: 2017-06-09 , Average Surface Temperature (Celcius): 49.0
Date: 2017-11-22 , Average Surface Temperature (Celcius): 61.5
Date: 2017-06-11 , Average Surface Temperature (Celcius): 41.5
Date: 2017-06-13 , Average Surface Temperature (Celcius): 41.0
Date: 2017-06-14 , Average Surface Temperature (Celcius): 53.25
Date: 2017-11-13 , Average Surface Temperature (Celcius): 47.0
Date: 2017-05-15 , Average Surface Temperature (Celcius): 53.950980392156865
Date: 2017-11-29 , Average Surface Temperature (Celcius): 60.625
Date: 2017-11-30 , Average Surface Temperature (Celcius): 52.41935483870968
Date: 2017-06-20 , Average Surface Temperature (Celcius): 71.16666666666667
Date: 2017-06-02 , Average Surface Temperature (Celcius): 47.72727272727273
Date: 2017-06-22 , Average Surface Temperature (Celcius): 46.0
Date: 2017-06-30 , Average Surface Temperature (Celcius): 44.333333333333336
Date: 2017-11-21 , Average Surface Temperature (Celcius): 59.0
Date: 2017-09-10 , Average Surface Temperature (Celcius): 56.5
Date: 2017-11-28 , Average Surface Temperature (Celcius): 42.0
Date: 2017-04-01 , Average Surface Temperature (Celcius): 46.714285714285715
Date: 2017-04-02 , Average Surface Temperature (Celcius): 45.2
Date: 2017-04-03 , Average Surface Temperature (Celcius): 58.44444444444444
Date: 2017-04-04 , Average Surface Temperature (Celcius): 62.57303370786517
Date: 2017-04-05 , Average Surface Temperature (Celcius): 53.142857142857146
Date: 2017-04-06 , Average Surface Temperature (Celcius): 61.71186440677966
Date: 2017-04-07 , Average Surface Temperature (Celcius): 50.69230769230769
Date: 2017-09-20 , Average Surface Temperature (Celcius): 63.6
Date: 2017-09-21 , Average Surface Temperature (Celcius): 40.5
Date: 2017-09-22 , Average Surface Temperature (Celcius): 45.0
Date: 2017-09-23 , Average Surface Temperature (Celcius): 52.73913043478261
Date: 2017-09-24 , Average Surface Temperature (Celcius): 53.57142857142857
Date: 2017-04-13 , Average Surface Temperature (Celcius): 58.57983193277311
Date: 2017-04-14 , Average Surface Temperature (Celcius): 61.94444444444444
Date: 2017-04-15 , Average Surface Temperature (Celcius): 59.57971014492754
Date: 2017-04-16 , Average Surface Temperature (Celcius): 48.72222222222222
Date: 2017-04-17 , Average Surface Temperature (Celcius): 50.921052631578945
Date: 2017-04-18 , Average Surface Temperature (Celcius): 53.36615384615384
Date: 2017-04-19 , Average Surface Temperature (Celcius): 54.16
Date: 2017-04-20 , Average Surface Temperature (Celcius): 56.58064516129032
Date: 2017-04-22 , Average Surface Temperature (Celcius): 54.5
Date: 2017-04-23 , Average Surface Temperature (Celcius): 53.89473684210526
Date: 2017-04-24 , Average Surface Temperature (Celcius): 59.375
Date: 2017-04-25 , Average Surface Temperature (Celcius): 48.666666666666664
Date: 2017-04-26 , Average Surface Temperature (Celcius): 34.0
Date: 2017-04-29 , Average Surface Temperature (Celcius): 63.0
Date: 2017-05-09 , Average Surface Temperature (Celcius): 42.46153846153846
Date: 2017-03-13 , Average Surface Temperature (Celcius): 38.5
Date: 2017-12-08 , Average Surface Temperature (Celcius): 50.6
Date: 2017-12-09 , Average Surface Temperature (Celcius): 58.25
Date: 2017-12-10 , Average Surface Temperature (Celcius): 46.0
Date: 2017-11-23 , Average Surface Temperature (Celcius): 58.8
Date: 2017-12-12 , Average Surface Temperature (Celcius): 44.0
Date: 2017-09-27 , Average Surface Temperature (Celcius): 49.714285714285715
Date: 2017-07-02 , Average Surface Temperature (Celcius): 43.5
Date: 2017-07-01 , Average Surface Temperature (Celcius): 30.5
Date: 2017-07-04 , Average Surface Temperature (Celcius): 40.0
Date: 2017-06-16 , Average Surface Temperature (Celcius): 42.5
Date: 2017-07-06 , Average Surface Temperature (Celcius): 56.0
Date: 2017-12-14 , Average Surface Temperature (Celcius): 70.0
Date: 2017-12-24 , Average Surface Temperature (Celcius): 32.0
Date: 2017-12-25 , Average Surface Temperature (Celcius): 54.0
Date: 2017-07-14 , Average Surface Temperature (Celcius): 41.5
Date: 2017-12-15 , Average Surface Temperature (Celcius): 39.0
Date: 2017-06-18 , Average Surface Temperature (Celcius): 42.0
Date: 2017-12-21 , Average Surface Temperature (Celcius): 46.0
Date: 2017-12-16 , Average Surface Temperature (Celcius): 57.8
Date: 2017-07-05 , Average Surface Temperature (Celcius): 45.0
Date: 2017-07-29 , Average Surface Temperature (Celcius): 48.0
Date: 2017-07-31 , Average Surface Temperature (Celcius): 47.0
Date: 2017-04-08 , Average Surface Temperature (Celcius): 60.75
Date: 2017-10-06 , Average Surface Temperature (Celcius): 44.0
Date: 2017-10-01 , Average Surface Temperature (Celcius): 48.25
Date: 2017-10-02 , Average Surface Temperature (Celcius): 43.57142857142857
Date: 2017-10-03 , Average Surface Temperature (Celcius): 50.0
Date: 2017-10-04 , Average Surface Temperature (Celcius): 49.0
Date: 2017-12-27 , Average Surface Temperature (Celcius): 62.75
Date: 2017-10-07 , Average Surface Temperature (Celcius): 42.0

## Task 5: Parallel Group-By Join
*** Write an algorithm to find the average surface temperature (Celcius) for each weather station. You are required to only display average surface temperature (Celcius) and the station in the output. Justify your choice of the data partition and join technique. ***
- It has two phases: DDP join and merge-all groupby.
- We decided to use the Group-By After Join rather than Group-By Before Join because join attribute(date) is not a part of group-by attribute(station). Reason of using DDP and merge-all groupby algorithm is same as previous questions.
- For DDP join, Hash based on date will be used, and for group-by, hash based on station will be used.

In [15]:
#Task 5 HD Task - join,group-by
#hash for climate and fire used in question 2 will be used again to do join by date
def HB_join_q5(T1,T2): #T1-climateData, T2-fireData
    """
    Perform the hash-based join algorithm.
    The join attribute is the numeric attribute in the input tables T1 & T2

    Arguments:
    T1 & T2 -- Tables to be joined

    Return:
    result -- the joined table
    """
    
    result = []
    
    dic = {} # We will use a dictionary
    
    # For each record in table T1
    for t1 in T1:
        # Hash the record based on join attribute value using hash function date_hash_for_climate into hash table
        t1_key = date_hash_for_climate(t1)
        if t1_key in dic:
            dic[t1_key].add(tuple(t1))
        else:
            dic[t1_key] = {tuple(t1)}
    
    # For each record in table T2 (probing)
    for t2 in T2:
        # Hash the record based on join attribute value using date_hash_for_fire
        t2_key = date_hash_for_fire(t2)
        # If an index entry is found Then
        if t2_key in dic:
            # Compare each record on this index entry with the record of table T2
            for value in dic[t2_key]:
                # If the key is the same then put the result
                if t2[6] == value[1]:
                    result.append([value[0], value[1], t2[7]])
    
    return result

def DDP_join(T1, T2, n_processor):
    """
    Perform a divide and broadcast-based parallel join algorithms.
    The join attribute is the numeric attribute in the input tables T1 & T2

    Arguments:
    T1 & T2 -- Tables to be joined
    n_processor -- the number of parallel processors

    Return:
    result -- the joined table
    """
    
    result = []
    
    # Partition T1 into sub-tables using rr_partition().
    # The number of the sub-tables must be the equal to the n_processor
    T1_subset = rr_partition(T1,n_processor)
    
    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)
    
    for t1 in T1_subset:
        # Apply a join on each processor
        
        # Note that as we assume a shared-memory architecture, no replication
        # of the broadcast table (in this case: table T2 (smaller table) occurs.
        result.append(pool.apply(HB_join_q5,[t1,T2]))
        
    return result

def date_hash_for_q5(x): #will hash the station in climateData
    """
    We define a hash function 'date_hash_for_q5' that is used in the hashing process works 
    by converting String Station value to integer value of the hashed attribute, which
    in this case is the join attribute. 
    
    Arguments:
    x -- a record where hashing will be applied on its join attribute

    Return:
    result -- the hash index of the record x
    """
    
    return int(x[0])

# The first step in the merge-all groupby method
def local_groupby_q5(dataset):
    """
    Perform a local groupby method

    Arguments:
    dataset -- entire record set to be merged

    Return:
    result -- the aggregated record set according to the group_by attribute index
    """
    
    dict = {} # We use a dictionary

    for index, record in enumerate(dataset):
        key = date_hash_for_q5(record)
        if key not in dict:
            dict[key]=[]
            dict[key].append(0) #sum of surf_temp,index 0
            dict[key].append(0) #count, index 1
        dict[key][1]+=1
        dict[key][0]+=int(record[2])
    return dict


def parallel_merge_all_groupby_q5(dataset):
    """
    Perform a parallel merge_all groupby method

    Arguments:
    dataset -- entire record set to be merged

    Return:
    result -- the aggregated record dictionary according to the group_by attribute index
    """
    
    result = {}
    
    # Define the number of parallel processors: the number of sub-datasets.
    n_processor = len(dataset)
    
    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)
    
    # ----- Local aggregation step -----
    local_result = []
    for s in dataset:
        # call the local aggregation method
        local_result.append(pool.apply(local_groupby_q5,[s]))
    pool.close()
    
    # ---- Global aggregation step ----
    # Let's assume that the global operator is sum.
    merged_result = {}
    
    for subset in local_result:
        for key in subset:
            if key not in merged_result:
                merged_result[key]=[]
                merged_result[key].append(0) #sum of surf_temp,index 0
                merged_result[key].append(0) #count, index 1
            merged_result[key][0]+=subset[key][0]
            merged_result[key][1]+=subset[key][1]
    
    for key in merged_result:
        #calculate average surface temperature for each station.
        merged_result[key][0] = merged_result[key][0]/merged_result[key][1]
    
    return merged_result

temp_data = DDP_join(climateData,fireData,4)
merged_data = parallel_merge_all_groupby_q5(temp_data)

# Display an output
for x in merged_data:
    print("Sation Number: " + str(x) + " , Average Surface Temperature (Celcius): " + str(merged_data[x][0]))

Sation Number: 948701 , Average Surface Temperature (Celcius): 56.06938603868797
Sation Number: 948702 , Average Surface Temperature (Celcius): 52.148275862068964